*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Nunito', sans-serif;
    background: rgb(217, 226, 236);;
}
h1{
    text-align: center;
    padding: 20px;
    font-size: 40px;
    color: rgb(56, 56, 56);
}
#fecha{
    text-align: center;
    color: rgb(174, 106, 5);
    font-weight: normal;
    font-size: 30px;
}
.container{
    width: 700px;
    background: white;
    padding: 20px;
    margin: auto;
    margin-top: 20px;
}
.acceso{
    color: rgb(0, 89, 255);
}
.dni{
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}
input{
    width: 100%;
    padding: 30px;
    outline: none;
    font-size: 20px;
}
.botones{
    display: flex;
    margin-top: 15px;
}
.entrada{
    background: rgb(47, 55, 70);
    width: 100%;
    padding: 15px 25px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin-right: 30px;
}
.salida{
    font-size: 20px;
    background: rgb(174, 106, 5);
    width: 100%;
    padding: 15px 25px;
    color: white;
    text-align: center;
    text-decoration: none;
}

.letra{
color: rgb(224, 143, 23);
}